/*==========================================================
 Layout
==========================================================*/

.container{

width:min(92%,var(--container));

margin-inline:auto;

}

section{

padding:120px 0;

}

h1,h2,h3,h4{

font-family:var(--font-heading);

color:var(--clr-heading);

}

h1{

font-size:clamp(4rem,8vw,6rem);

line-height:.95;

}

h2{

font-size:clamp(2.5rem,5vw,4rem);

margin-bottom:1rem;

}