/*==========================================================
 RESET
==========================================================*/

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:var(--font-body);

background:var(--clr-background);

color:var(--clr-text);

line-height:1.7;

overflow-x:hidden;

}

img{

display:block;

max-width:100%;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

button{

font:inherit;

cursor:pointer;

background:none;

border:none;

}